body {
    background-color: bisque;
}

header {
    background-color: brown;
    margin: 0;
    padding: 32px;
}

h1{
    color: bisque;
    text-align: center;
}

div {
    background-color: brown;
    margin: auto;
    margin-top: 36px;
    padding: 48px;
    width: 50%;
}

ul,
li {
    background-color: bisque;
    text-decoration: hide;
}